Source: erlang-p1-iconv
Priority: optional
Maintainer: Mathias Ertl <mati@jabber.at>
XSBC-Orig-Maintainer: Philipp Huebner <debalance@debian.org>
Build-Depends: autotools-dev, debhelper (>= 9), dh-rebar, erlang-eunit, erlang-syntax-tools,
 erlang-p1-utils (>= 1.0.6)
Standards-Version: 3.9.8
Section: libs
Homepage: https://github.com/processone/iconv
VCS-Browser: https://github.com/jabber-at/eiconv
VCS-Git: https://github.com/jabber-at/eiconv.git

Package: erlang-p1-iconv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, erlang-base | ${erlang-abi:Depends},
         ${erlang:Depends}
Conflicts: ejabberd (<< 1:16.02)
Description: fast encoding conversion library for Erlang / Elixir
 This library is a native binding to the libiconv library.
 It was written for ejabberd which still uses it,
 but was split off into it's own project to follow
 Erlang/OTP guidelines.
